.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 30px;
  background: #ffd300;
  top: 0;
  opacity: 0;
  animation: makeItRain 10s infinite ease-out;
}

.confetti-piece:nth-child(1) {
  left: 1%;
  transform: rotate(-40deg);
  animation-delay: 1s;
}

.confetti-piece:nth-child(2) {
  left: 5%;
  transform: rotate(4deg);
  background: #00e857;
  animation-delay: 1.5s;
}

.confetti-piece:nth-child(3) {
  left: 10%;
  transform: rotate(-10deg);
  background: #ff00ff;
  animation-delay: 2s;
}

.confetti-piece:nth-child(4) {
  left: 20%;
  transform: rotate(10deg);
  background: #00c8ff;
  animation-delay: 2.5s;
}

.confetti-piece:nth-child(5) {
  left: 30%;
  transform: rotate(-10deg);
  background: #ff00ff;
  animation-delay: 3s;
}

.confetti-piece:nth-child(6) {
  left: 40%;
  transform: rotate(10deg);
  background: #00e857;
  animation-delay: 3.5s;
}

.confetti-piece:nth-child(7) {
  left: 50%;
  transform: rotate(-10deg);
  background: #ffd300;
  animation-delay: 4s;
}

.confetti-piece:nth-child(8) {
  left: 60%;
  transform: rotate(10deg);
  background: #00c8ff;
  animation-delay: 4.5s;
}

.confetti-piece:nth-child(9) {
  left: 70%;
  transform: rotate(-10deg);
  background: #ff00ff;
  animation-delay: 5s;
}

.confetti-piece:nth-child(10) {
  left: 80%;
  transform: rotate(10deg);
  background: #00e857;
  animation-delay: 5.5s;
}

.confetti-piece:nth-child(11) {
  left: 90%;
  transform: rotate(-10deg);
  background: #ffd300;
  animation-delay: 6s;
}

.confetti-piece:nth-child(12) {
  left: 95%;
  transform: rotate(10deg);
  background: #00c8ff;
  animation-delay: 6.5s;
}

.confetti-piece:nth-child(13) {
  left: 100%;
  transform: rotate(-10deg);
  background: #ff00ff;
  animation-delay: 7s;
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(100vh);
  }
}
